<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
</head>
<body>
    <div style="width: 800px; margin: 0 auto">
        <div>
            <a href="{% url 'main' %}"><button><strong><h1>Schronisko</h1></strong></button></a>
            <a href="{% url 'main' %}"><button><h3>Start</h3></button></a>
            <a href="{% url 'animal_list' %}"><button><h3>Baza zwierząt</h3></button></a>
            <button><h3>Wydarzenia</h3></button>
            <button><h3>Wolontariat</h3></button>
            <a href="{% url 'contact' %}"><button><h3>Kontakt</h3></button></a>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}"><button><h3>Wyloguj</h3></button></a>
              <p>Cześć {{ user.username }}!</p>
            {% else %}
              <a href="{% url 'login' %}"><button><h3>Zaloguj</h3></button></a>
              <a href="{% url 'signup' %}"><button><h3>Zarejestruj się</h3></button></a>
              <p>Nie jesteś zalogowany</p>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>